<div class="panel panel-default">
	<div class="panel-heading clearfix">
		<h3 class="panel-title pull-left">AWS Credentials</h3>
		<div class="pull-right"><a href brenda-help="awsSetup/help/awsSetupHelp.html"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></div>
	</div>
	<div class="panel-body">
		<form>
			<div class="form-group">
				<label for="awsKeyId">AWS Access Key ID</label>
				<input type="text" class="form-control" id="awsKeyId" ng-model="credentials.awsKeyId" placeholder="Key ID">
			</div>
			<div class="form-group">
				<label for="awsSecret">AWS Access Key Secret</label>
				<input type="text" class="form-control" id="awsSecret" ng-model="credentials.awsSecret" placeholder="Key Secret" />
			</div>
			<div class="form-group">
				<label for="awsRegion">AWS Region</label>
				<input type="text" class="form-control" id="awsRegion" ng-model="credentials.awsRegion" placeholder="Region" />
			</div>
			<button type="submit" ng-click="setCredentials()" id="setCredentialsBtn" class="btn btn-primary">Set Credentials</button>
			<ul class="list-group">
				<li class="list-group-item list-group-item-{{credentialCheck.status}}" id="loginStatus">
					{{credentialCheck.msg}}
				</li>
				<li class="list-group-item list-group-item-{{securityGroupCheck.status}}">{{securityGroupCheck.msg}} 
					<a href ng-click="createSG()" ng-show="securityGroupCheck.status == 'danger'"><strong>Fix it</strong></a></li>
			</ul>
			<!-- <aws-login aws-key-id="awsKeyId" aws-secret="awsSecret" region="awsRegion"></aws-login> -->
		</form>
	</div>
</div>