<div class="page-header">
	<h2>Job Setup</h2>
</div>
<form>
	<div class="form-group">
		<label for="projectSource">Project Location</label>
		<input type="text" class="form-control" id="projectSource" ng-model="projectSource" placeholder="ex: s3://PROJECT_BUCKET/myproject.tar.gz">
	</div>
	<div class="form-group">
		<label for="frameDestination">Frame Destination Bucket</label>
		<input type="text" class="form-control" id="frameDestination" ng-model="frameDestination" placeholder="ex: s3://DESTINATION_BUCKET" />
	</div>
</form>