<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Work Queue</h3>
  </div>
  <div class="panel-body">
    <form>
		<div class="form-group">
			<label for="workQueue">Work Queue</label>
			<select name="workQueue" id="workQueue" ng-model="queue.workQueue">
				<option ng-repeat="queue in queues" value="{{queue.id}}">{{queue.name}}</option>
			</select>
		</div>
		<div>
			Queue size: {{queueSize}}
		</div>
		
		<hr />
		
		<div class="form-group">
			<label for="workTemplate">Work Template</label>
			<input type="text" class="form-control" id="workTemplate" ng-model="workTemplate" />
		</div>
		
		<div class="form-inline">
			<div class="form-group">
				<label for="startFrame">Start Frame</label>
				<input type="text" class="form-control" id="startFrame" ng-model="startFrame" />
			</div>
			
			<div class="form-group">
				<label for="endFrame">End Frame</label>
				<input type="text" class="form-control" id="endFrame" ng-model="endFrame" />
			</div>
		</div>
		
		<div class="form-group">
			<label for="workList">Work List</label>
			<textarea class="form-control" id="workList" rows="5" readonly>{{workList().join('\n')}}</textarea>
		</div>
		
		<hr />
		
		<div class="row">
			<div class="col-sm-4">
				<div class="form-inline">
					<button type="submit" ng-click="sendWork()">Queue Work</button>
					<button type="submit" ng-click="clearQueue()">Clear Queue</button>
				</div>
			</div>
			<div class="col-sm-8">
				<uib-progress max="sendStatus.total">
					<uib-bar value="sendStatus.failed" type="danger"></uib-bar>
					<uib-bar value="sendStatus.success" type="success"></uib-bar>
					<uib-bar value="sendStatus.inFlight" type="info"></uib-bar>
				</uib-progress>
				<div class="row">
					<span class="label label-success">Success: {{sendStatus.success}} / {{sendStatus.total}}</span>
					<span class="label label-danger">Failed: {{sendStatus.failed}} / {{sendStatus.total}}</span>
					<span class="label label-info">In Flight: {{sendStatus.inFlight}} / {{sendStatus.total}}</span>
				</div>
			</div>
		</div>
	</form>
  </div>
</div>
