<div class="panel panel-default" ng-repeat="bucket in buckets.buckets">
	<div class="panel-heading">
    	<h3 class="panel-title">Bucket: {{bucket.name}} <span class="badge">{{bucket.size}}</span></h3>
	</div>
	<div class="panel-body">
		<div ng-messages="bucket.errors">
			<div ng-message="error" class="alert alert-danger" role="alert">Error occurred, we can attempt to <a href brenda-help="dashboard/help/s3cors.html"><strong>fix it</strong></a></div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Size</th>
					<th>Modified</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="file in bucket.files">
					<td><a ng-click="openLightbox(bucket.name, $index)">{{file.name}}</a></td>
					<td>{{file.size}}</td>
					<td>{{file.modified}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>